<!DOCTYPE html>
<html>
<head>
  <title>Registro Uleam</title>
  <link rel="stylesheet" href="/Angular/src/app/registro/registro.component.css">
  <script src="/scripts/script.js"></script>
</head>
<body background="/Angular/src/app/assets/Img/bg2.jpg">
  <nav>
    <a href="/Angular/src/app/login/login.component.html"><button><h3>Regresar</h3></button></a>
  </nav>

  <div class="container">
    <div class="logo">
      <img src="/Angular/src/app/assets/Img/logouleam.png" alt="ULEAM">
    </div>
    <div class="cuerpo">
      <h2> 
        Crea tu cuenta 
        <hr>
      </h2>
      <form name="myForm" onsubmit="return validateForm()" action="/Angular/src/app/login/login.component.html" method="get">
        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="name" required>

        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="lastName" required>

        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="email" required>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="password" required>

        <label for="contrasena2">Confirmar contraseña:</label>
        <input type="password" id="contrasena2" name="confirmPassword" required>

        <input type="submit" value="Registrarse">
      </form>
    </div>
  </div>

  <footer>
    <div class="logo2">
      <img src="/Angular/src/app/assets/Img/logouleam.png">
    </div>
    <nav class="navv">
      <a href="#">ULEAM © Copyright 2023, Todos los derechos reservados - Universidad Laica Eloy Alfaro de Manabí</a>
      <a href="#">Dirección: Av. Circunvalación - Vía a San Mateo</a>
      <a href="#">Manta - Manabí - Ecuador</a>
    </nav>
  </footer>
</body>
</html>
