<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/Angular/src/app/menu/menu.component.css">
  <title>Estudiantes</title>
</head>
<body style="background-image: url('/Img/7.jpg');">
  <div class="nav-wrapper">
    <div class="nav-container">
      <nav>
        <a href="/Angular/src/app/pagina_principal/pagina.component.html"><button><h3>Regresar</h3></button></a>
      </nav>
      <nav>
        <a href="/Angular/src/app/pagina_principal/pagina.component.html "><button><h3>Salir</h3></button></a>
      </nav>
    </div>
  </div>
  
  <header>
    <div class="logo">
      <img src="/Angular/src/app/assets/Img/logouleam.png" alt="Logo Uleam">
    </div>
  </header>

  <div class="cuerpo">
    <br><br><br>
    <h1><strong>Bienvenido/a</strong></h1>
    <h1><strong>Menú</strong></h1>
    <div class="menu">
      <a href="/Angular/src/app/perfil/perfil.component.html">
        <button>
          <h2>Perfiles</h2>
        </button>
      </a>
      <a href="/Angular/src/app/galeria/galeria.component.html">
        <button>
          <h2>Galería</h2>
        </button>
      </a>
      <a href="/Angular/src/app/promociones/promociones.component.html">
        <button>
          <h2>Promociones</h2>
        </button>
      </a>
      <!-- Nuevo botón "Actualizar Datos" -->
      <a href="/Angular/src/app/datos/datos.component.html">
        <button>
          <h2>Actualizar Datos</h2>
        </button>
      </a>
    </div>
  </div>
  <br><br><br><br><br><br>

  <footer>
    <div class="logo2">
      <img src="/Angular/src/app/assets/Img/logouleam.png" alt="Logo Uleam">
    </div>
    <nav class="navv">
      <a href="#">
        <pre class="text-center">ULEAM © Copyright 2022, Todos los derechos reservados - Universidad Laica Eloy Alfaro de Manabí</pre>
      </a>
      <a href="#">
        <pre class="text-center">Dirección: Av. Circunvalación - Vía a San Mateo</pre>
      </a>
      <a href="#">
        <pre class="text-center">Manta - Manabí - Ecuador</pre>
      </a>
    </nav>
  </footer>  
</body>
</html>
