* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0; /* Gris claro */
    font-family: 'Arial', sans-serif;
    color: #333; /* Negro */
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #ecf0f1; /* Gris claro */
}

header .logo img {
    max-width: 150px;
    height: auto;
}

.cuerpo {
    text-align: center;
    padding: 50px 20px;
    background-color: #f0f0f0; /* Gris claro */
    color: #070707; /* Negro */
}

.cuerpo h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.cuerpo .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cuerpo .menu a button {
    background-color: #db7979; /* Rojo */
    color: #fff; /* Blanco */
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cuerpo .menu a button:hover {
    background-color: #555; /* Negro más oscuro */
}

footer {
    background-color: #333; /* Negro */
    padding: 20px;
    text-align: center;
    color: #ecf0f1; /* Gris claro */
    margin-top: 50px;
}

footer .logo2 img {
    height: 60px;
    width: 150px;
    margin-bottom: 10px;
}

footer .navv a {
    text-decoration: none;
    color: #ecf0f1; /* Gris claro */
    display: block;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center;
}

.nav-wrapper {
    background-color: #333; /* Negro */
    padding: 10px;
    text-align: right; /* Alinea los elementos al extremo derecho */
}

.nav-container {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al extremo derecho */
    gap: 10px; /* Espacio entre los botones */
}

.nav-container nav {
    display: flex;
    gap: 10px; /* Espacio entre los enlaces */
}

.nav-container nav a button {
    color: #fff; /* Blanco */
    background-color: #c0392b; /* Rojo */
    border-radius: 5px;
    width: 110px;
    height: 40px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.nav-container nav a button:hover {
    background-color: #e74c3c; /* Rojo más claro */
}
