<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Promociones Uleam</title>
  <link rel="stylesheet" href="/Angular/src/app/galeria/galeria.component.css">
</head>
<body style="background-image: url('/Angular/src/app/assets/Img/bg1.jpg');">
  <div class="nav-container">
    <nav>
      <a href="/Angular/src/app/menu/menu.component.html"><button><h3>Regresar</h3></button></a>
    </nav>

    <nav>
      <a href="/Angular/src/app/menu/menu.component.html">
        <button>
          <h3>Salir</h3>
        </button>
      </a>
    </nav>
 </div>
  <div>
    <h1>Promociones de Graduados Uleam</h1>

    <div class="graduados">
      <div class="graduado">
        <img src="/Angular/src/app/assets/Img/3.jpg" alt="Belinda Lopez">
        <p>Belinda Lopez</p>
        <p>Ingeniería en Sistemas</p>
        <p>Promedio: 9.2</p>
        <p>Email: <a href="mailto:beli&#64;email.com">beli&#64;email.com</a></p>
      </div>

      <div class="graduado">
        <img src="/Angular/src/app/assets/Img/2.jpg" alt="Maria Garcia">
        <div class="info">
          <p>Maria Garcia</p>
          <p>Medicina</p>
          <p>Promedio: 9.8</p>
          <p>Email: <a href="mailto:maria&#64;email.com">maria&#64;email.com</a></p>
        </div>
      </div>
    </div>

    <div class="graduados">
      <div class="graduado">
        <img src="/Angular/src/app/assets/Img/1.jpg" alt="Anahi Lucas">
        <div class="info">
          <p>Anahi Lucas</p>
          <p>Administración de Empresas</p>
          <p>Promedio: 8.9</p>
          <p>Email: <a href="mailto:anahi&#64;email.com">anahi&#64;email.com</a></p>
        </div>
      </div>
    </div>

  </div>

</body>
</html>
