<!DOCTYPE html>
<html>
<head>
  <title>Graduados Uleam</title>
  <link rel="stylesheet" href="/Angular/src/app/promociones/promociones.component.css">
</head>
<body>
  <nav>
    <a href="/Angular/src/app/menu/menu.component.html"><button><h3>Regresar</h3></button></a>
  </nav>

  <h1>Graduados Uleam</h1>

  <div class="container">
    <div class="graduados">
      <div class="graduado">
        <img src="/Angular/src/app/assets/Img/4.jpg">
        <div class="info">
          <h2>Contabilidad</h2>
          <p>Grupo de graduados de contabilidad</p>
          <p>Año de graduación: 2020</p>
        </div>
      </div>

      <div class="graduado">
        <img src="/Angular/src/app/assets/Img/5.jpg">
        <div class="info">
          <h2>Ingenieros en sistemas</h2>
          <p>Grupo de graduados de sistemas</p>
          <p>Año de graduación: 2022</p>
        </div>
      </div>

      <div class="graduado">
        <img src="/Angular/src/app/assets/Img/6.jpg">
        <div class="info">
          <h2>Turismo</h2>
          <p>Grupo de graduados de Turismo</p>
          <p>Año de graduación: 2022</p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="logo2">
      <img src="/Angular/src/app/assets/Img/logouleam.png">
    </div>
    <nav class="navv">
      <a href="#"><pre>ULEAM © Copyright 2023, Todos los derechos reservados - Universidad Laica Eloy Alfaro de Manabí</pre></a>
      <a href="#"><pre>Dirección: Av. Circunvalación - Vía a San Mateo</pre></a>
      <a href="#"><pre>Manta - Manabí - Ecuador</pre></a>
    </nav>
  </footer>
</body>
</html>
